{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "ignorePatterns": ["build/", "src/types", "tests/.bin/", "tests/.latest.json"]
}
